<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
<body>
  <% if (locals.user) {%>
    <%- include('home.ejs') %>
  <% } else { %>
    <h1>please log in</h1>
    <% if (locals.errors) {%>
      <ul>
        <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
        <% }); %>
      </ul>
    <% } %>
    <form action="/" method="POST">
      <label for="email">Email</label>
      <input id="email" name="username" placeholder="Enter Email" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button type="submit">Log In</button>
    </form>
    <a href="/sign-up"> 
      <button> Sign Up !</button>
    </a>
  <%}%>
  <div>
    <% if (message) {%>
      <div>
        <div>Most Recent Added Message: </div>
        <div>
          <%= message.message %>
        </div>
      </div>
    <% } %>
  </div>
</body>
</html>
