<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
<body>
  <div id="membersonlyContainer">
    <div class="formContainer">
      <form action="/membersonly" method="POST">
        <label for="code">Become a Member and enter the <i>Secret Code</i></label>
        <input id="code" name="passcode" placeholder="Enter Code" type="text" />
        <div class="formContainerBtnContainer">
          <button type="submit">Enter</button>
        </div>
      </form>
    </div>
    <div class="formContainer">
      <form action="/membersonly/adminsonly" method="POST">
        <label for="code">Get Administration access, enter the <i>other Secret Code</i></label>
        <input id="code" name="passcode" placeholder="Enter Code" type="text" />
        <div class="formContainerBtnContainer">
          <button type="submit">Enter</button>
        </div>
      </form>
    </div>
      <% if (locals.error) {%>
        <div>
          <%= error %>
        </div>
      <% } %>
  </div>
</body>
</html>