<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only</title>
</head>
<body>
    <form>
      <label for="code">Become a Member and enter the <i>Secret Code</i></label>
      <input id="code" name="passcode" placeholder="Enter Code" type="text" />
      <button type="submit">Enter</button>
    </form>
</body>
</html>