<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
<body>
  <h1>Send Message As <%= currentUser.first %></h1>
  <div>
    <form action="/messagebox" method="POST">
      <label for="submit-msg">Add a Message</label>
      <textarea name="usermessage" placeholder="Enter a message." ></textarea>
      <button type="submit">Submit Message</button>
    </form>
  </div>
</body>
</html>