<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
<body>
  <h1>Send a Message <%= currentUser.first %></h1>
  <div id="formContainer">
    <form action="/messagebox" method="POST">
      <fieldset>
        <legend>Add an epic message</legend>
        <div class="formEntries">
          <input placeholder="Enter Message Title" type="text" id="title" name="title" required><br>
        </div>
        <div class="formEntries">
          <textarea  placeholder="Enter a message." id="usermessage" name="usermessage" required></textarea>
        </div>
      </fieldset>
      <button type="submit">Submit Message</button>
    </form>
  </div>
</body>
</html>