<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="/sign-up" method="POST">
    <label for="firstname">First</label>
    <input id="firstname" name="firstname" placeholder="firstname" type="text" />
    <label for="lastname">Last</label>
    <input id="lastname" name="lastname" placeholder="lastname" type="text" />
    <label for="email">Email</label>
    <input id="email" name="email" placeholder="email" type="email" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>
